.background{
    background-image: url("/public/banner.png"),linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.90));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}