.background{
    background-image: url("/public/cats.jpg"),linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.90));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
}